.App {
  text-align: left;
  background-color: rgb(245, 242, 239);
  box-sizing: border-box;
  padding: 10vh;
  color:#212020;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  --title-color: rgb(125, 54, 66);
}

.block {
  margin: 5vh 0 3vh 0;
}

.block h3 {
  color: var(--title-color);
}

.block p {
  line-height: 1;
}

.select-box-container {
  width: 100%;
  margin-bottom: 5%;
}

.select-box {
  display: inline-block;
  width: 45%;
}

.select-box {
  margin-right: 2.5%;
}

.link-box-wrapper {
  display: inline-block;
  width: 30%;
  margin-right: 2.5%;
}